<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Product Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
        <div id="navbarSupport" class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                @*<li class="nav-item">@Html.ActionLink("Product List","Add", new { controller = "Product" }, new { @class = "navlink" }) </li>
            <li class="nav-item">@Html.ActionLink("Add Product", "Add", new { controller = "Product" }, new { @class = "navlink" }) </li>*@
            </ul>

            <div class="nav navbar-nav ml-auto" style="margin-top:2px;margin-bottom:2px">
                @if (User.Identity.IsAuthenticated)
                {
        <div class="nav-item">@Html.ActionLink("Logout", "Logout", new { controller = "Home" }, new { @class = "nav-link" })</div> }
                    else
                    {
        <div class="nav-item">@Html.ActionLink("Register", "SignUp", new { controller = "Home" }, new { @class = "nav-link" })</div>
                        <div class="nav-item">@Html.ActionLink("Login", "Login", new { controller = "Home" }, new { @class = "nav-link" })</div>}

            </div>
        </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>