@model SourceControlForm.Models.Student

<h2>Registartion Form</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.StudentID)  &nbsp; @Html.TextBoxFor(model => model.StudentID, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
    </p>

    <p>
        @Html.LabelFor(model => model.Name)  &nbsp; @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </p>

    <p>
        @Html.LabelFor(model => model.Age)  &nbsp; @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
    </p>


    <p>
        @Html.LabelFor(model => model.CGPA)  &nbsp; @Html.TextBoxFor(model => model.CGPA, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.Email)  &nbsp; @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.PhoneNumber)  &nbsp; @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </p>

    <input type="submit" class="btn btn-primary" value="Submit" />
    @Html.Raw(ViewBag.SuccessMsg)
}